[flake8]
# Base flake8 configuration:
show-source = True
statistics = True
enable-extensions = G
exclude = .git,
        .venv,
        .github,
        .vscode,
        __pycache__,
        data,
        model,
        notebooks
        
per-file-ignores = */__init__.py: F401 ,F403  

# Plugins:
accept-encodings = utf-8
max-complexity = 10
max-line-length = 120
inline-quotes = double

# Ignore some pydoctest checks globally:
ignore = D103, D401, PT009, E731, C901        
spellcheck-targets = comments

[isort]
line_length=120
default_section = THIRDPARTY
sections = STDLIB,THIRDPARTY,FIRSTPARTY,LOCALFOLDER
profile=black